CPlusPlus/**/executables/
CPlusPlus/**/Sources/*.in
CPlusPlus/**/Sources_2D/*.in
CSS/

CSharp/*.txt

**/bin
**/obj

Javascripts/

**/Lib
**/Include
**/Scripts
**/Lib/site-packages/
**/site-packages/
*.drawio
Python/.$Data.drawio.bkp
